#mainHeaderContainer, #loginHeaderContainer {
	position: relative;
	border-top: 1px solid #66B8E2;
	border-bottom: 0px solid #FFF;
	margin: 3px 1em 0px;
	font-family: Verdana, "Droid Sans", sans-serif;
	font-size: 12px;
	line-height: 14px;
}

#mainHeaderContainer a {
	text-decoration: none;
}

#headerright {
	position: absolute;
	right: 15px;
	top: 0px;
}

#header_actionsBlock {
	position: absolute;
	right: 10px;
	top: 14px;
	width: 35em;
	text-align: right;
}

#headerstring {
	color: #66B8E2;
	font-size: 12px;
	position: absolute;
	right: 40px;
	padding-left: 10px;
	background: #FFF none repeat scroll 0% 0%;
}

#headerName {
	right: 60px;
	height: 24px;
	width: 40%;
	white-space: nowrap;
	position: absolute;
}

#headerName {
	white-space: nowrap;
}

.logoutHelpArrowDown {
	border-top: 5px solid #E1F1F9;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	position: absolute;
	top: 8px;
}

#headerName>#headerLogoutHelp {
	display: none;
}

#headerLogoutHelp {
	position: absolute;
	top: 24px;
	line-height: 25px;
	border-radius: 7px;
}

.logoutHelpArrowUp {
	border-bottom: 7px solid #E1F1F9;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	position: absolute;
	top: -7px;
	left: 20px;
}

.main-menuItem {
	font-weight: normal;
}

#mainHeader a {
	color: #66B8E2;
	font-size: 1.1875em;
}

#headerMenuItem_logout a, #headerMenuItem_help a, #headerMenuItem_about a
	{
	background-color: #E1F1F9;
	max-width: 200px;
	text-align: left;
	display: block;
	padding-right: 15px;
}

.main-menuItem a {
	text-indent: 20px;
	background-position: 1px 16px;
	background-attachment: fixed;
}

#mainHeader a.userNameHeader {
	color: #66B8E2;
	line-height: 18px;
	left: 0px;
	text-align: left;
	position: absolute;
	text-overflow: ellipsis;
	overflow-x: hidden;
	width: 100%;
	margin-left: 12px;
}

#landingLink {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: transparent url("../../../../../images/icon_landingpage.png") no-repeat
		scroll right center;
	position: absolute;
	right: 10px;
	top: -2px;
}

.floatRight {
	float: right;
	margin-right: 5px;
}

#headerMenuContainer {
	width: 100%;
	top: 0px;
	right: 0px;
	z-index: 200;
	border-top: 0px none;
}

#mainNavContainer {
	margin-top: 2px;
	text-indent: 5px;
	white-space: nowrap;
	width: 70%;
	margin-left: 8px;
}

.main-menuSect {
	display: inline;
	width: auto;
}

#mainNavContainer {
	text-indent: 5px;
	white-space: nowrap;
}

#mainHeader {
	height: 55px;
	color: #FFF;
	position: fixed;
	z-index: 200;
	width: 100%;
	min-width: 200px;
	max-width: 98%;
	padding-top: 0px;
	background: #FFF none repeat scroll 0% 0%;
}

#headerleft {
	max-height: 60px;
}

#headerlogo, #loginheaderlogo {
	width: 54px;
	height: 55px;
	margin-left: 15px;
}

#mainHeaderContainer .headertitle {
	left: 15px;
	font-family: Verdana, sans-serif;
	font-size: 31px;
	max-width: 700px;
	line-height: 22px;
	top: -44px;
	position: relative;
	color: #000040;
}

#headerMenuItem_logout a:hover, #headerMenuItem_help a:hover,
	#headerMenuItem_about a:hover, #mainNavContainer .main-menuSectItem:hover,
	#mainNavContainer .main-menuSectItem.highlight {
	background-color: #a6d5ee;
	color: #000040
}

#mainHeader a:hover {
	text-decoration: underline;
	color: #095ead;
	cursor: pointer;
}

.userNameHeader:hover ~ .logoutHelpArrowDown {
	display: none;
}

#headerName:hover #headerLogoutHelp {
	display: block;
}

#headerLogoutHelp:hover {
	display: block;
}

#headerLogoutHelp:hover + .logoutHelpArrowDown {
	display: none;
}

#headerName:hover > .logoutHelpArrowDown {
	display: none;
}
#mainHeader + #headerFill {
	height: 60px;
	width: 100%;
	background: white;
	z-index: 199;
	position: fixed;
}

.team-icon {
	background: transparent url("../../../../../images/40x40/icon_team_40.png");
	background-size: 26px;
	background-repeat: no-repeat;
}

.icon-header {
	width: 26px;
	height: 26px;
	display: inline-block;
	margin-right: 10px;
}